.WeatherInfo .dailyIcon {
  margin: 130px auto 0;
}

.WeatherInfo .currentTemp {
  margin: 45px auto 30px;
}

.WeatherInfo .dayTime {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #a09fb1;
}

.WeatherInfo .temperature {
  font-size: 144px;
  font-weight: 500;
}

.WeatherInfo .unit {
  color: #e7e7eb;
  font-size: 48px;
  line-height: 42px;
}

.WeatherInfo .cityName {
  font-size: 18px;
}

.WeatherInfo .conditions {
  margin-top: 80px;
  text-transform: capitalize;
  color: #a09fb1;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}