.Weather .dailyIcon {
    margin: 150px auto 0;
}

.Weather .currentTemp {
    color: #A09FB1;
    margin: 50px auto 30px;
}

.Weather .dayTime {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #A09FB1;
}

.Weather .temperature {
    font-size: 144px;
    font-weight: 500;
    line-height: 169px;
    letter-spacing: 0em;
}

.Weather .unit {
    color: #E7E7EB;
    font-size: 25px;
}

.Weather .cityName {
    font-size: 18px;
}

.Weather .conditions {
    margin-top: 80px;
    text-transform: capitalize;
    color: #A09FB1;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
}