.Weather .dailyIcon {
  margin: 130px auto 0;
}

.Weather .currentTemp {
  color: #a09fb1;
  margin: 45px auto 30px;
}

.Weather .dayTime {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #a09fb1;
}

.Weather .temperature {
  font-size: 144px;
  font-weight: 500;
}

.Weather .unit {
  color: #e7e7eb;
  font-size: 48px;
  line-height: 42px;
}

.Weather .cityName {
  font-size: 18px;
}

.Weather .conditions {
  margin-top: 80px;
  text-transform: capitalize;
  color: #a09fb1;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}
