.Weather {
  color: #e7e7eb;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.leftPanel {
  padding: 40px 40px 0;
  background: #1e213a;
}

.WeatherData {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  background: #100e1d;
  padding: 80px 50px 20px;
}
