.Weather {
    color: #E7E7EB;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.leftPanel {
    padding: 40px 50px 0;
    background: #1E213A;
}

.WeatherData {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    background: #100E1D;
    padding: 80px 50px 20px;
}