.WeeklyForcast .weeklyForcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 177px;
    background: #1E213A;
}

.WeeklyForcast .weeklyForcastLowTemp {
    color: #A09FB1;
    margin-left: 5px;
}